Repository Latina-Dev/latina-dev, pull requests merged in 2023-06, with the labels that each got.

#56 Optimizing responsiveness
  app/members/[slug]/page.tsx
  app/members/page.tsx
  components/Homepage/MemberPreview/MemberPreview.tsx
  components/Navbar/Navbar.module.css
  components/Navbar/Navbar.tsx
Labels: design, app, components

#58 Adding new members who have given consent
  data/members/alda-pontes.md
  data/members/alyssa-cervantes.md
  data/members/amanda-munoz.md
  data/members/amee-covarrubias.md
  data/members/ana-parada-mar.md
  data/members/anel-guel.md
  data/members/angelica-rodriguez.md
  data/members/arcy-flores.md
  data/members/elaine-montilla.md
  data/members/gabriella-corales.md
  data/members/jennifer-alejandra-arnold.md
  data/members/joceline-garcia.md
  data/members/maria-bruno.md
  data/members/rocio-montero.md
  data/members/xiomara-quinonez.md
  data/members/zaira-estefany-cruz.md
  public/img/members/alda-pontes.jpg
  public/img/members/alyssa-cervantes.jpg
  public/img/members/amanda-munoz.jpg
  public/img/members/amee-covarrubias.jpg
  public/img/members/ana-parada-mar.jpg
  public/img/members/anel-guel.jpg
  public/img/members/angelica-rodriguez.jpg
  public/img/members/arcy-flores.jpg
  public/img/members/elaine-montilla.jpg
  public/img/members/jennifer-alejandra-arnold.jpg
  public/img/members/joceline-garcia.jpg
  public/img/members/maria-bruno.jpg
  public/img/members/rocio-montero.jpg
  public/img/members/xiomara-quinonez.jpg
  public/img/members/zaira-estefany-cruz.jpg
Labels: new feature, help wanted, public, data

#60 Update README.md
  README.md
Labels: repo

#62 Add Miriam Flores
  data/members/miriam-flores.md
  public/img/members/miriam-flores.jpg
Labels: public

#59 Add member Megan
  data/members/megan-rodriguez.md
  public/img/members/megan-rodriguez.jpg
Labels: public

#68 Add new member Allison
  data/members/allison-cortez.md
  public/img/members/allison-cortez.jpg
Labels: public
