Repository Latina-Dev/latina-dev, pull requests merged in 2023-08, with the labels that each got.

#75 Adding some more new members!
  data/members/amanda-correa.md
  data/members/amy-felix.md
  data/members/briceida-mariscal.md
  data/members/bridget-rios.md
  data/members/daniela-veloz.md
  data/members/lorena-zohar-sanchez.md
  data/members/sonia-fajardo.md
  data/members/zaira-estefany-cruz.md
  public/img/members/amanda-correa.jpg
  public/img/members/amee-covarrubias.jpg
  public/img/members/amy-felix.jpg
  public/img/members/briceida-mariscal.jpg
  public/img/members/bridget-rios.jpg
  public/img/members/daniela-veloz.jpg
  public/img/members/lorena-zohar-sanchez.jpg
  public/img/members/sonia-fajardo.jpg
Labels: public, frontend

#84 Adding new members + member count
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .gitignore
  LICENSE
  README.md
  app/members/page.tsx
  components/Footer/Footer.tsx
  components/Homepage/Hero/Hero.tsx
  components/Homepage/Maintainers/Maintainer/Maintainer.tsx
  components/Homepage/Maintainers/Maintainers.tsx
  components/Navbar/Navbar.tsx
  data/members/ashley-dennis.md
  data/members/elizabeth-ponce.md
  data/members/francelys-lomeli.md
  data/members/johana-martinez.md
  data/members/mayra-navarro.md
  data/members/melissa-perez.md
  docs/.nojekyll
  docs/Overview.mdx
  docs/_sidebar.md
  docs/index.html
  docs/pages/adding-a-member.md
  docs/pages/branding.md
  docs/pages/member-levels.md
  docs/pages/overview.md
  next.config.js
  package-lock.json
  package.json
  public/img/favicons/favicon.ico
  public/img/logos/logo-background.png
  public/img/maintainers/frances.jpg
  public/img/maintainers/gabriella.jpg
  public/img/members/ashley-dennis.jpg
  public/img/members/elizabeth-ponce.jpg
  public/img/members/francelys-lomeli.JPG
  public/img/members/johana-martinez.jpg
  public/img/members/mayra-navarro.jpg
  public/img/members/melissa-perez.jpg
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  types/links.ts
Labels: repo, app, components, public

#90 Adding more new members!
  data/members/alexandra-vera.md
  data/members/fatima-shakra.md
  data/members/jasmin-villatoro.md
  data/members/jennifer-martinez.md
  data/members/johana-martinez.md
  data/members/mayra-navarro.md
  data/members/melissa-perez.md
  public/img/members/alexandra-vera.jpg
  public/img/members/fatima-shakra.jpg
  public/img/members/jasmin-villatoro.jpg
  public/img/members/jennifer-martinez.jpg
  public/img/members/mayra-navarro.jpg
  public/img/members/melissa-perez.jpg
Labels: public, frontend

#89 More members
  .github/CONTRIBUTING.md
  .github/workflows/purge-branch.yml
  README.md
  data/members/catherine-alvarado.md
  data/members/chislaine-cruz.md
  data/members/kimberly-munoz.md
  data/members/lupita-davila.md
  data/members/melisa-im.md
  docs/_sidebar.md
  docs/pages/adding-a-member.md
  docs/pages/benefits-of-contributing.md
  docs/pages/branding.md
  docs/pages/getting-started.md
  docs/pages/local-development.md
  docs/pages/opening-pr.md
  docs/pages/overview.md
  docs/pages/questions.md
  docs/pages/welcome.md
  package-lock.json
  package.json
  public/img/members/catherine-alvarado.jpg
  public/img/members/chislaine-cruz.jpg
  public/img/members/francelys-lomeli.JPG
  public/img/members/francelys-lomeli.jpg
  public/img/members/kimberly-munoz.jpg
  public/img/members/lupita-davila.jpg
  public/img/members/melisa-im.jpg
Labels: repo, public
