Repository Latina-Dev/latina-dev, pull requests merged in 2023-05, with the labels that each got.

#29 update-text-to-english
  README.md
  components/About/About.tsx
Labels: repo, components

#38 Rename the file using correct Amandha's last name
  app/_members/amandha-wingert-barok.md
  public/img/members/amandha-wingert-barok.jpg
Labels: app, public

#41 Members Page and Snippet
  app/_members/alejandra-quintero.md
  app/_members/amandha-wingert-barok.md
  app/_members/andrea-sharpless.md
  app/_members/frances-coronel.md
  app/_members/gabriella-corales.md
  app/_members/jenny-garcia-espinosa.md
  app/_members/lesly-juarez.md
  app/_members/yarely-chino.md
  app/members/memberspage.module.css
  app/members/page.tsx
  app/page.tsx
  components/Footer/Footer.tsx
  components/Members/Member/Member.tsx
  components/Members/MembersSnippet.module.css
  components/Members/MembersSnippet.tsx
  components/Navbar/Navbar.module.css
  components/Navbar/Navbar.tsx
  public/img/members/alejandra-quintero.jpg
  public/img/members/andrea-sharpless.jpg
  public/img/members/jenny-garcia-espinosa.jpg
  public/img/members/lesly-juarez.jpg
  public/img/members/yarely-chino.jpg
Labels: PR: reviewed-changes-requested, design, app, components, public

#43 Single member profile view
  app/_members/isis-harris.md
  app/head.tsx
  app/members/[slug]/memberpage.module.css
  app/members/[slug]/page.tsx
  components/Footer/Footer.module.css
  components/Members/Member/Member.tsx
  components/Members/Member/SocialLinks.tsx
  lib/getMembers.ts
  types/members.ts
Labels: app, components

#53 Storybook + Dependabot Updates
  .github/CONTRIBUTING.md
  .github/dependabot.yml
  .github/workflows/chromatic.yml
  .storybook/LatinaDevTheme.ts
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  README.md
  build-storybook.log
  components/CountryFlags/CountryFlags.module.css
  components/Navbar/Navbar.tsx
  docs/AddingNewMember.mdx
  docs/Branding.mdx
  docs/MemberLevels.mdx
  docs/Overview.mdx
  package-lock.json
  package.json
  public/img/logos/storybook.png
Labels: repo, components, public
